<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="requestBaseUri" value="http://localhost:12641/" />
		<add key="logRoot" value="c:\temp\" />
		<add key="debug" value="0" />
		<add key="amountTasks" value="3" />
		<add key="preheatSec" value="3" />
		<add key="durationCountSec" value="3" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>